<div class="row logocontainer"><img src="<%= asset_path('notee.png') %>" "></div>
<div class="row caption">Share to spread knowledge and understand better</div>


<div class="row" >
  <div class="col-xs-1 col-md-3"></div>
  <div class="col-xs-10 col-md-6  centercontainer">
    <div class="row col-md-12">
      <div class="col-md-6">

        <!-- Social SignUp -->
        <div class="social-signup-wrapper">
          <div class="col-xs-12" style="padding: 0">
            <button type="button" class="btn btn-default socialbutton socialbuttonui col-xs-12">
              <span class="google" aria-hidden="true">Continue with Google</span>
            </button>
          </div>
          
          <div class="col-xs-12" style="padding: 0">
            <button type="button" class="btn btn-default socialbutton socialbuttonui col-xs-12">
              <span class="facebook" aria-hidden="true">Continue with Facebook</span>
            </button>
          </div>
          <span class="font12grey">
            <a href="javascript:void(0);" onclick="NT.home.toggleSignUp();">Continue With Email </a>. By signing up you indicate that you have read and agree to the Terms of Service and Privacy Policy.
          </span>
        </div>
        <!-- Email SignUp -->
        <div class="email-signup-wrapper hide">
          <%= render partial: 'shared/register_form' %>
        </div>
      </div>
      
      <div class="col-md-6 leftborder leftborder-hidden-col-xs-12">
        <div class="col-xs-12 padding0 padding0-hidden-col-md-6"> 
        <span class="font14blue">Login</span>
          <br>
          <%= render partial: 'shared/login_form' %>
          <!-- <input type="text" class="form-control buttonmargin" style="margin-bottom: 20px;margin-top: 10px;" id="usr" placeholder="Email">
          <input type="Password" class="form-control buttonmargin" style="margin-bottom: 20px;margin-top: 10px;" id="psd" placeholder="Password"> -->
          <!-- <div> -->
          <!-- <button type="button" class="btn btn-default bluebutton">Login</button>
          </div>
          <span class="font12grey m-top8">Forgot password?</span> -->
        <!-- </div> -->
      </div>  
    </div>
  </div>
  <div class="col-xs-1 col-md-3"></div>
</div>


