<%= form_for :user, url: user_session_path do |f| %>
    <%= f.text_field :email, class: 'form-control buttonmargin', style: "margin-bottom: 20px;margin-top: 10px;", placeholder: 'Email' %>
    <%= f.password_field :password, class: 'form-control buttonmargin', style: "margin-bottom: 20px;margin-top: 10px;", placeholder: 'Password' %>

  <div>
    <button type="submit" class="btn btn-default bluebutton">Login</button>
  </div>
  <span class="font12grey m-top8">Forgot password?</span>
<% end %>