@import url(http://fonts.googleapis.com/css?family=Roboto);

.navbar.navbar-inverse{
  background-color: #FFFFFF;
  border-color: #7d7d7d;
  background-image:none;
}

.navbar.navbar-inverse .navbar-nav > .open > a,
.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li > a:focus,
.navbar.navbar-inverse .navbar-nav > .open > a:focus,
.navbar.navbar-inverse .navbar-nav > .open > a:hover {
    color: #000;
    background-color: #FFFFFF;
    background-image: none;
}

/* SIDEBAR */
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

nav.sidebar{
  width: 200px;
  height: 100%;
  float: left;
  margin-bottom: 0px;
}

nav.sidebar li {
  width: 100%;
}
.well.well-no-bg{
  background-color: #FFF;
  background-image: none;
}

.article-block > .well:hover, .article-block > .well:focus{
  border: 1px solid #337ab7;
}

.article-block > .well .article-actions{
  display: none;
}

.article-block > .well:hover .article-actions, .article-block > .well:focus .article-actions{
  display: inline-block;
  position: absolute;
  float: right;
  top: 0;
  right: 22px;
  font-size: 33px;
  cursor: pointer;
}

.article-actions:after {
  content: '\2807';
  font-size: 1em;
  color: #2e2e2e
}

.login-signup-container{
  width:600px;
  position:fixed;
  top: 23%;
  left: 50%;
  margin-left: -300px; /*set to a negative number 1/2 of your width*/
}
.login-signup-container .logo{
  margin-bottom: 40px;
}
.well.no-bg{
  background: none
}
.buttonGoogleIcon{
  background: url(google.png) no-repeat 0 0;
  height: 18px;
  width: 18px;
  display: inline-block;
  float: left;
  margin-top: 4px;
}
.buttonFacebookIcon{
  background: url(facebook.png) no-repeat 0 0;
  height: 18px;
  width: 18px;
  display: inline-block;
  float: left;
  margin-top: 4px;
}


